# Ignore dataset files
data/
*.csv
*.xlsx

# Ignore virtual environment
venv/
bank/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs and outputs
logs/
*.log

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore environment/config files
.env
config.json
